@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Glegoo');

#banner {
	background: url(../img/banner.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 820px;
}

.bmenu{
    padding: 0px;
    margin: 250px 0 10px 0;
    position: relative;
   	font-family: 'Titillium Web', sans-serif;
}
.bmenu li{
    font-size: 50px;
    display: block;
}
.bmenu li a{
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px #ffffff;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.bmenu:hover li a {
	text-shadow: 0px 0px 5px #0d1a3a;
}
.bmenu li a:hover {
	color: #fff;
	text-shadow: 0px 0px 1px #fff;
	padding-left: 10px;
	text-decoration: none;
}

.content {
	padding-left: 0px;
	position: relative;
    width: 550px;
    margin: 0 auto;
    margin-left: 20px;		
}

a {
	color: #fff;
	text-decoration: none;
}

.text {
	position: absolute;
	top: 250px;
	right: 0%;
}

.text h1 {
	font-family: 'Inconsolata', monospace;
	font-size: 80px;
	color: #000000;
	background: #ffffff;
	float: right;
}

.arrow img {
	margin-top: 100px;
	margin-left: 600px;
	width: 50px;
	height: 50px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.arrow img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/*About Me*/
#about h1 {
	font-family: 'Glegoo', serif;
	font-size: 50px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}



#left img {
	border-radius: 50%;
	margin-left: 180px;
	margin-top: 100px;
}

#left h1 {
	font-family: 'Glegoo', serif;
	text-align: center;
	font-size: 50px;
}

#left h3 {
	font-family: 'Glegoo', serif;
	text-align: center;
	font-size: 30px;
}

#right h1 {
	text-align: left;
	font-family: 'Titillium Web', sans-serif;
	font-size: 40px;
}

#right hr {
	height: 5px;
	color: #000000;
	background-color: #dcdcdc;
}

#right p {
	text-align: justify;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
}

/*Social Media*/
.social {
	text-align: center;
	margin-top: 50px;
}

.social a {
	color: #000000;
}

.fa {
  margin-left: 20px;
}

#twitterText,
#facebookText,
#googleText,
#gitText {
  display: none;
}

.fa-twitter-square {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.fa-twitter-square:hover {
	color: #4c4cff;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.fa-facebook-official {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.fa-facebook-official:hover {
	color: #1919ff;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.fa-google {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.fa-google:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	color: #ff1919;
}

.fa-github {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.fa-github:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/*percentage bar*/
p {
  color: #525252;
  font-size: 12px;
}

.skillbar-title img {
	margin-top: 6px;
	margin-left: 17px;
}
.skillbar {
	position: relative;
	display: block;
	margin-bottom: 15px;
	width: 100%;
	background: #eee;
	height: 45px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	height: 45px;
	font-weight: bold;
	font-size: 13px;
	color: #ffffff;
	background: #6adcfa;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.skillbar-title span {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	padding: 0 20px;
	height: 45px;
	line-height: 35px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.skillbar-bar {
	height:45px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position: absolute;
	margin-top: 6px;
	right: 10px;
	top: 0;
	font-size: 11px;
	height: 45px;
	line-height: 35px;
	color: #ffffff;
	color: rgba(0, 0, 0, 0.4);
}



/*portfolio*/
#portfolio {
	margin-bottom: 50px;
}

.col-md-4 {
	height: 519px;
}

.thumbnail img {
	width: 100%;
	height: 250px;
}

.caption p {
	text-align: center;
}

#portfolio h1 {
	text-align: center;
	font-family: 'Glegoo', serif;
	font-size: 50px;
	margin-bottom: 50px;
	margin-top: 80px;
}

.thumbnail {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	margin: 10px;
}

.thumbnail:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.thumbnail i {
	color: #000;
}


/*tools*/
.card {
	transform-style: preserve-3d;
  	transition: all 1s ease-in-out;
}

.card:hover {
	transform: rotateY(180deg);
}

.card .front {
	backface-visibility: hidden;
	overflow: hidden;
}

.card .back {
	text-align: center;
  	transform: rotateY(180deg);
  	line-height: -50px;
}

#tools h1 {
	text-align: center;
	font-family: 'Glegoo', serif;
	font-size: 50px;
	margin-bottom: 80px;
	margin-top: 80px;
}

#tools img {
	margin-left: 64px;
}

.col-md-3 {
	margin-bottom: 150px;
}

/*contact*/
#footer {
	background-color: #000000;
}

#footer p {
	color: #ffffff;
	display: inline-block;
	vertical-align: center;
	margin-top: 20px;
}

#footer a {
	float: right;
	vertical-align: center;
}
